[user]
	name = Gustav Johansson
	email = gustavsj@outlook.com
[alias]
	a = "add ."
	b = "branch"
	c = "commit"
	ca = "commit  --amend"
	co = "checkout"
	d = "diff"
	ds = "diff --staged"
	l = "log"
	m = "merge"
	r = "reset"
	s = "status"
	su = "submodule update --recursive --init"
[core]
	editor = nvim
[pull]
	rebase = true
